@import 'variables';

/* text */
.text-gray {
  color: $gray;
}
.text-dark {
  color: $gray-dark;
}
.text-darker {
  color: $gray-darker;
}
.text-primary {
  color: $primary-color;
}
.text-ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* button */
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover, &:focus, &:active:focus {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}
.btn-gray {
  background-color: $gray;
  border-color: $gray;

  &:hover, &:focus {
    background-color: darken($gray, 10%);
    border-color: darken($gray, 10%);
  }
}
.btn-gray-light {
  background-color: lighten($gray, 10%);
  border-color: lighten($gray, 10%);
  &:hover, &:focus {
    background-color: lighten($gray, 5%);
    border-color: lighten($gray, 5%);
  }
}
.btn-outline {
  &, &:hover, &:focus {
    background-color: transparent;
  }

  &.btn-primary {
    color: $primary-color;

    &:hover, &:focus {
      color: darken($primary-color, 10%);
      background-color: transparent;
    }
  }

  &.btn-default {
    color: $gray-dark;

    &:hover, &:focus {
      color: $gray-darker;
      background-color: transparent;
    }
  }

  &.active {
    background-color: transparent;
    box-shadow: none;
  }
}
.btn-nocorner {
  border-radius: 0;
}

/* form */
.form-control:focus {
  border-color: lighten($primary-color, 15%);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($primary-color,.6)
}
.form-group.no-corner,
.input-group.no-corner {
  .form-control {
    border-radius: 0;
  }

  .input-group-btn .btn {
    border-radius: 0;
  }
}


/* table */
.table {
  .shadow-thead {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .15);
    & > tr  > th {
      border-bottom: 5px solid #eee;
    }
  }
}

/* panel */
.panel-custom {
  border-radius: 0;

  > .panel-heading {
    border-radius: 0;
  }
}

/* loading */
.el-loading-spinner .path{
  stroke: $primary-color;
}

/* radio */
.el-radio__input.is-checked+.el-radio__label{
  color: $primary-color;
}
.el-radio__input.is-checked .el-radio__inner{
  border-color: $primary-color;
  background-color: $primary-color;
}


/* step   style */
.el-step__title{
  font-size: 14px;
  font-weight: 500;
}
.el-step__head.is-finish, .el-step__title.is-finish{
  color: $primary-color;
  border-color: $primary-color;
  .el-step__icon.is-text{
    background: $third-color;
  }
}
.el-step__icon.is-text{
  border-width: 1px;
  background: #eee;
}
.el-step__head.is-process{
  // color: $primary-color;
  // border-color: $primary-color;
  .el-step__icon.is-text{
    // background: $third-color;
    background: #fff;
  }
}
.el-step__title.is-process{
  // color: $primary-color;
}
.el-step__head.is-wait{
  color: #fff;
}
.el-step.is-horizontal .el-step__line{
  height: 1px;
}
.el-icon-refresh {
  cursor: pointer;
}
/* step   style */
