@import 'variables';

/* text */

.text-main{
  color: $main-color;
}
.text-second{
  color: $text-second;
}
.text-third{
  color: $text-third;
}
.text-second{
  color: $text-second;
}
.text-link{
  color: $text-link;
}
.text-gray{
  color: $text-gray;
}
.text-hover{
  color: $text-hover;
}
.text-error{
  color: $text-error;
}


/* el-table */
.el-table {
  thead{
    th>.cell{
      font-weight: 500;
    }
  }
  .cell{
    padding: 0 30px;
  }
}
// .el-table--enable-row-hover .el-table__body tr:hover>td>

/* el-message-box 确认弹框（confirm） */
.el-message-box__wrapper{
  .el-message-box{
    .el-message-box__content{
      padding: 20px 15px;
    }
  }
  .el-button--primary{
    background: $main-color;
    border-color: $main-color;
    &:hover{
      background: $text-link;
      border-color: $text-link;
    }
  }
  .el-button--primary.is-disabled{
    background-color: $second-color;
    border-color: $second-color;
    &:hover{
      background-color: $second-color;
      border-color: $second-color;
    }
  }
}

/* el-button */
.el-button--primary{
  background: $main-color;
  border-color: $main-color;
  &:hover{
    background: $text-link;
    border-color: $text-link;
  }
}
.el-button--primary.is-disabled{
  background-color: $second-color;
  border-color: $second-color;
  &:hover{
    background-color: $second-color;
    border-color: $second-color;
  }
}

/* loading */
.el-loading-spinner{
  line-height: 100%;
  position: relative;
  .path{
    stroke: $main-color;
  }
  .circular{
    position: absolute;
    top: 50%;
    margin: -21px 0 0 -21px;
  }
}


/* el-tabs */
.el-tabs__active-bar{
  background-color: $main-color;
}
.el-tabs__item.is-active{
  color: $main-color;
}
.el-tabs__item:hover{
  color: $main-color;
}

/* el-silder */
.el-slider__bar{
  background-color: $main-color;
}
.el-slider__button{
  border-color: $main-color;
}

/* el-select-dropdown */
.el-select-dropdown__item.selected {
  color: $main-color;
}

/* el-checkbox */
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: $main-color;
  border-color: $main-color;
}
.el-checkbox__inner:hover, .el-checkbox__input.is-focus .el-checkbox__inner{
  border-color: $main-color;
}
