/* color */
$main-color: #fd9801;
$second-color: #fbdab6;
$third-color: #fcf7f1;

/* text color */
$text-main: #222;
$text-second: #666;
$text-third: #999;
$text-gray: #ccc;

$text-link: #f38a42;
$text-hover: #fd9801;
$text-error: #ee7778;

/* bg color */
$bg-main: #fafafa;

/* outline color 描边 */
$outline-color: #e6e6e6;

/* halving line color */
$halving-line: #f2f2f2;
$halving-outline: #d9d9d9; // 描边分割线
