@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: 'PingFangSC-Regular', 'Microsoft YaHei', Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f2f2f2;

  -webkit-overflow-scrolling: touch;
}

a {
  color: $black-light;
}

a:hover,
a:focus {
  color: $primary-color;
  text-decoration: none;
}

ul, ol{
  padding: 0;
}
li{
  list-style: none;
}
label{
  font-weight: 500;
}
