/* color */
$white: #fff;
$black: #000;
$gray: #ccc;
$gray-dark: #999;
$gray-darker: #666;
$gray-light: #e5e5e5;
$black-light: #4a4a4a;
// $primary-color: #f58427;
$primary-color: #fdb76e;

/* navbar */
$navbar-background-color: #656565;

/* btn */
$btn-primary-color: lighten($primary-color, 10%);
